[Unit]
Requires=mariadb.service
After=mariadb.service

[Container]
ContainerName=ts3server
Image=docker.io/library/teamspeak:latest
AutoUpdate=registry
Network=ts3server.network
Network=mariadb.network
PublishPort=9987:9987/udp
PublishPort=10011:10011
PublishPort=30033:30033
PublishPort=[::]:9987:9987/udp
PublishPort=[::]:10011:10011
PublishPort=[::]:30033:30033
Volume=%h/containers/ts3server/data:/var/ts3server
Volume=/etc/localtime:/etc/localtime:ro
Environment=TZ=Asia/Tokyo
Environment=TS3SERVER_DB_PLUGIN=ts3db_mariadb
Environment=TS3SERVER_DB_SQLCREATEPATH=create_mariadb
Environment=TS3SERVER_DB_HOST=mariadb
Environment=TS3SERVER_DB_USER=root
Environment=TS3SERVER_DB_PASSWORD=root
Environment=TS3SERVER_DB_NAME=teamspeak
Environment=TS3SERVER_DB_WAITUNTILREADY=30
Environment=TS3SERVER_LICENSE=accept
Environment=TS3SERVER_QUERY_TIMEOUT=30

[Service]
Restart=always

[Install]
WantedBy=default.target
