[Container]
Image=docker.io/flaresolverr/flaresolverr:latest
ContainerName=flaresolverr
AutoUpdate=registry
Network=flaresolverr.network
ExposeHostPort=8191
Environment=TZ=Asia/Tokyo

[Service]
Restart=always
