TZ=Asia/Shanghai

POSTGRES_DB=suwayomi
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# "none", "basic_auth", "simple_login", "ui_login"
SUWAYOMI_AUTH_MODE=
SUWAYOMI_AUTH_USERNAME=
SUWAYOMI_AUTH_PASSWORD=

SUWAYOMI_LOCAL_DIR=
SUWAYOMI_BACKUPS_DIR=
SUWAYOMI_EXTENSIONS_DIR=
