[Unit]
Requires=flaresolverr.service
After=flaresolverr.service

[Container]
ContainerName=suwayomi
Image=ghcr.io/suwayomi/tachidesk:latest
Network=suwayomi
Network=flaresolverr
PublishPort=14567:4567
User=root
Volume=%h/containers/suwayomi/data:/home/suwayomi/.local/share/Tachidesk
Environment=TZ=Asia/Tokyo
Environment=DOWNLOAD_AS_CBZ=true
Environment=WEB_UI_UPDATE_INTERVAL=8
Environment=EXTENSION_REPOS=["https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"]
Environment=FLARESOLVERR_ENABLED=true
Environment=FLARESOLVERR_URL=http://flaresolverr:8191

[Service]
Restart=always

[Install]
WantedBy=default.target
